{% if button %}
  <button class="button {{ modifier }}"{% if disabled %} disabled{% endif %}>{{ text|raw }}</button>
{% else %}
  <a href="{{ url|raw }}" class="button {{ modifier }}">{{ text|raw }}</a>
{% endif %}
