{% set date %}
  {% include '@components/date/date.twig' with {
    'format': 'medium-date'
  } %}
{% endset %}

<article class="image-teaser" role="article">
  <div class="l-media">
    {% if image %}
      <div class="l-media__object">
        <a href="{{ url }}">{{ image }}</a>
      </div>
    {% endif %}
    <div class="l-media__content">
      {% block content %}
        <h2><a href="{{ url }}">{{ title }}</a></h2>
        {{ date }}
        {{ summary }}
      {% endblock %}
    </div>
  </div>
</article>
